.check {
  position: relative;
  flex-shrink: 0;
  margin-right: 5px;
  position: relative;
  width: 20px;
  height: 20px;
  background-color:transparent;
  border: 1px solid white;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  box-sizing: border-box;
}

.check:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%) scale(0);
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6962 0.2821C11.0926 0.666571 11.1024 1.29966 10.7179 1.69615L4.23646 8.38014L0.339385 4.95071C-0.0752229 4.58586 -0.115556 3.95398 0.249299 3.53937C0.614154 3.12477 1.24603 3.08443 1.66064 3.44929L4.1272 5.61986L9.28211 0.303855C9.66658 -0.0926305 10.2997 -0.10237 10.6962 0.2821Z' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear;
}

.done:after {
  transform: translate(-50%, -50%) scale(1);
}



.todo {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.todo p {
  width: 100%;
  margin: 0;
  color: white;
}

.controls {
  display: flex;
  align-items: center;
}

.delete {
  margin-left: 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='Layer_1' style='enable-background:new 0 0 64 64;' version='1.1' viewBox='0 0 64 64' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23fff;%7D%0A%3C/style%3E%3Cg%3E%3Cg id='Icon-Trash' transform='translate(232.000000, 228.000000)'%3E%3Cpolygon class='st0' id='Fill-6' points='-207.5,-205.1 -204.5,-205.1 -204.5,-181.1 -207.5,-181.1 '/%3E%3Cpolygon class='st0' id='Fill-7' points='-201.5,-205.1 -198.5,-205.1 -198.5,-181.1 -201.5,-181.1 '/%3E%3Cpolygon class='st0' id='Fill-8' points='-195.5,-205.1 -192.5,-205.1 -192.5,-181.1 -195.5,-181.1 '/%3E%3Cpolygon class='st0' id='Fill-9' points='-219.5,-214.1 -180.5,-214.1 -180.5,-211.1 -219.5,-211.1 '/%3E%3Cpath class='st0' d='M-192.6-212.6h-2.8v-3c0-0.9-0.7-1.6-1.6-1.6h-6c-0.9,0-1.6,0.7-1.6,1.6v3h-2.8v-3 c0-2.4,2-4.4,4.4-4.4h6c2.4,0,4.4,2,4.4,4.4V-212.6' id='Fill-10'/%3E%3Cpath class='st0' d='M-191-172.1h-18c-2.4,0-4.5-2-4.7-4.4l-2.8-36l3-0.2l2.8,36c0.1,0.9,0.9,1.6,1.7,1.6h18 c0.9,0,1.7-0.8,1.7-1.6l2.8-36l3,0.2l-2.8,36C-186.5-174-188.6-172.1-191-172.1' id='Fill-11'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear;
  cursor: pointer;
}

.delete:hover {
  opacity: 0.7;
}